<footer class="footer">
  <div class="footer-container">
    <div class="footer-top">
      <div class="footer-left">
        <div class="footer-logo">
          <img src="{{asset "images/logo.svg"}}" height="42" alt="{{@site.title}}" />
          <p class="footer-description">
            Slingui is a complete platform with every tool you need to give your students the best learning experience.
          </p>
        </div>
      </div>
      <div class="footer-right">
        <ul class="footer-links">
          <li>Pages:</li>
          <li><a href="/">Home</a></li>
          <li><a href="/features/teachers">Features</a></li>
          <li><a href="/pricing">Pricing</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
        <ul class="footer-links">
          <li>Social media:</li>
          <li><a href="https://www.instagram.com/slingui.official" target="_blank">Instagram</a></li>
          <li><a href="https://www.linkedin.com/company/slingui" target="_blank">LinkedIn</a></li>
          <li><a href="https://www.youtube.com/@slingui" target="_blank">Youtube</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p class="copyright">
        Copyright 2023 Slingui. All Rights Reserved.
      </p>
      <ul class="footer-inline-links">
        <li><a href="https://accounts.slingui.com/support">Support</a></li>
        <li><a href="https://app.slingui.com/privacy">Privacy Policy</a></li>
        <li><a href="https://app.slingui.com/terms">Terms of Use</a></li>
      </ul>
    </div>
  </div>
</footer>