<header class="sizemd">
  <div class="container">
    <div class="buttons">
      <a class="button" href="/features">
        <div class="state-layer">
          <div class="label-text">Features</div>
        </div>
      </a>
      <a class="button" href="/pricing">
        <div class="state-layer">
          <div class="label-text">Pricing</div>
        </div>
      </a>
      <a class="button" href="/blog">
        <div class="state-layer">
          <div class="label-text">Blog</div>
        </div>
      </a>
    </div>

    <a class="logo navbar-brand" href="/">
      <img class="logo-child" alt="{{@site.title}}" src="{{asset "images/logo.svg"}}" />
    </a>

    <div class="enter">
      <a class="button4" href="https://accounts.slingui.com">
        <div class="state-layer4">
          <span class="icon material-symbols-outlined">east</span>
          <div class="label-text">Access Slingui</div>
        </div>
      </a>
    </div>
  </div>
</header>
